<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appTitle" value="FruPak Process Factory" />
    <variable name="logFilePath" value="${specialfolder:folder=Desktop:file=${appTitle}.log}" />

    <targets async="true">
      <target name="file" xsi:type="File" fileName="${logFilePath}" layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}" />

      <target name="fileAsInfo" xsi:type="File" fileName="${logFilePath}" layout="${longdate} ${level:upperCase=true}: ${message} ${exception:format=ToString}" />

      <target xsi:type="EventLog" name="eventLog" source="${appTitle}" layout="${message}${newline}${exception:format=tostring}" />
    </targets>

    <targets>
      <!--<target xsi:type="MessageBox" name="mbox" caption="Error" layout="An error has occurred. Please see the log file (${logFilePath}) or event log for more details." />-->
      <!--fileName="${basedir}/Logs/log.csv"-->
      <!--fileName="${basedir}/Logs/${date:format=dd-MM-yyyy} - ${machinename}.csv"-->
      <!--fileName="${basedir}/logs/Log.${level} - ${machinename}.csv"-->

      <target name="csv_file" xsi:type="File" fileName="${basedir}/logs/Log.csv" concurrentWrites="true" keepFileOpen="false" archiveFileName="${basedir}/logs/archives/Log.{#}.csv" archiveAboveSize="5242880" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="5">
        <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true">
          <column name="Date" layout="${shortdate}" />
          <column name="Time" layout="${time}" />
          <!--<column name="Logger" layout="${logger}" />-->
          <column name="Level" layout="${level}" />
          <column name="Message" layout="${message}" />
          <column name="Callsite_Class" layout="${callsite:methodName=false}" />
          <column name="Callsite_Method" layout="${callsite:className=false}" />
          <column name="Source" layout="${callsite:fileName=true:includeSourcePath=false}" />
          <column name="User_Machine_Name" layout="${machinename}" />
          <!-- <column name="Stack_Trace" layout="${stacktrace:format=DetailedFlat}" />
              <column name="Exception_Message" layout="${exception:format=Message}" />
              <column name="Exception_Type" layout="${exception:format=Type}" />
              -->
        </layout>
      </target>
    </targets>

    <rules>
      <!--<logger name="*" level="Info" writeTo="fileAsInfo" />-->
      <!--<logger name="*" minlevel="Warn" writeTo="file" />-->
      <!--<logger name="*" minlevel="Warn" writeTo="eventLog" />-->
      <logger name="*" minlevel="Trace" writeTo="csv_file" />
      <!--<logger name="*" minlevel="Error" writeTo="mbox" />-->
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>