<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ApplicationConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <ApplicationConfiguration>
    <add key="Phantom_DevMode" value="False" />
    <add key="Local_Path" value="C:\FruPak" />
    <add key="Remote_Path" value="P:\FruPak" />
    <add key="Printer_Name" value="Brother HL-2040 series" />
    <add key="TestMode_Server" value="FRUPAK-SQL" />
    <add key="TestMode_Database" value="Process_Factory_Test" />
    <add key="TestMode_User_Id" value="jobs" />
    <add key="TestMode_Password" value="jobs" />
    <add key="ProductionMode_Server" value="FRUPAK-SQL" />
    <add key="ProductionMode_Database" value="Process_Factory" />
    <add key="ProductionMode_User_Id" value="jobs" />
    <add key="ProductionMode_Password" value="jobs" />
    <add key="Phantom_DevMode_TestMode_Server" value="-\SQLEXPRESS" />
    <add key="Phantom_DevMode_TestMode_Database" value="Process_Factory_Test" />
    <add key="Phantom_DevMode_TestMode_User_Id" value="jobs" />
    <add key="Phantom_DevMode_TestMode_Password" value="jobs" />
    <add key="Phantom_DevMode_ProductionMode_Server" value="-\SQLEXPRESS" />
    <add key="Phantom_DevMode_ProductionMode_Database" value="Process_Factory" />
    <add key="Phantom_DevMode_ProductionMode_User_Id" value="jobs" />
    <add key="Phantom_DevMode_ProductionMode_Password" value="jobs" />
  </ApplicationConfiguration>
</configuration>