<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">

  <variable name="appName" value="FruPak Process Factory" />
  
  <!--  
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  
  <targets async="true">
       
  <target xsi:type="EventLog"
            name="eventlog"
            source="${appName}"
            layout="${message}${newline}${exception:format=ToString}"/>

  <target name="Outlook" xsi:type="Mail"
      smtpServer="smtp.live.com"
      smtpPort="25"
      smtpAuthentication="Basic"
      smtpUserName="phantom-dev@outlook.com"
      smtpPassword="zundapp63"
      enableSsl="true"
      subject="FruPak Process Factory Error"
      from="ProcessFactory@FruPak.com"
      to="bruce.r.nielsen@outlook.com"
      cc="processerrors@frupak.co.nz;phantom-dev@outlook.com"
      />
                    
    <target name="csv_file" xsi:type="File" 
                fileName="${basedir}/Logs/log.csv"
                concurrentWrites="true"
                keepFileOpen="false" >
            <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true">
              <column name="Date" layout="${shortdate}" />
              <column name="Time" layout="${time}" />
              <column name="Logger" layout="${logger}"/>
              <column name="Level" layout="${level}"/>
              <column name="User_Machine_Name" layout="${machinename}" />
              <column name="Message" layout="${message}" />
              <column name="Callsite_Class" layout="${callsite:methodName=false}" />
              <column name="Callsite_Method" layout="${callsite:className=false}" />
              <column name="Source" layout="${callsite:fileName=true:includeSourcePath=false}" />
              <!-- <column name="Stack_Trace" layout="${stacktrace:format=DetailedFlat}"/>
              <column name="Exception_Message" layout="${exception:format=Message}"/>
              <column name="Exception_Type" layout="${exception:format=Type}"/>
              -->
            </layout>
        </target>
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <!-- <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" writeTo="default" minlevel="Trace" />
    <logger name="*" writeTo="eventlog" minlevel="Error" />  -->
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="csv_file" />
    <logger name="*" level="Error" writeTo="Outlook"/>
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>